{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "react-app"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true,
      "arrowFunctions": false,
      "classes": true
    },
    "sourceType": "module"
  },
  "rules": {
    "strict": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "no-console": 0,
    "max-len": [
      "error",
      {
        "code": 80
      }
    ]
  },
  "parser": "babel-eslint",
  "globals": {
    "process": false
  }
}
